# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.vercel

# downloaded subtitle files (not part of the app)
/subs

# webOS build artifact
*.ipk
